body {
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    font-family: "Amatic SC", cursive;
    background: url('./assets/site/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

header img {
    width: 200px;
    height: 200px;
    border: 20px solid #e93e21;
    border-radius: 100%;
    margin-top: 40px;
}

.subtitulo {
    color: white;
}

nav {
    width: 100%;
    background-color: #333;
}

h1  {
    color: red;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

ul li a {
    color: white;
    text-decoration: none;
    font-size: 30px;
}

ul li a:hover {
    color: #e93e21;
}

section {
    font-family: "Amatic SC", cursive;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.titulo_secao {
    width: 200px;
}

.img_produto {
    width: 120px;
    height: 100px;
    border: 3px solid pink;
    border-radius: 8px;
}

.titulo_preco {
    display: flex;
    justify-content: space-between;
}

.card {
    
    width: 45%;
}